<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ titulo }}</h5>
    
    <br>
      
    <h5 *ngIf="!realMoney" class="card-total d-flex align-self-center">{{ valor }}</h5> 
    <h5 *ngIf="realMoney" class="card-total d-flex align-self-center">{{ valor | currency }}</h5> 
  
    <div class="d-flex align-items-end flex-column mt-1" *ngIf="info">
      <h6 class="card-total" style="color: #03ba46;
      font-family: 'Inter'; font-style: normal; font-weight: 600;
      font-size: 16px;"> <img src="/assets/setav.svg" alt="" width="30%" style="color: #03ba46;">  25%</h6>
      <p style="font-family: 'Inter'; font-style: normal;
      font-weight: 400; font-size: 15px; color: #B4B6C1;">Comparado com 03/23</p>
    </div>
  </div>
</div>