h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: -2%;
  padding-left: 6%;
}

.table {
  background-color: #FFF;
  position: absolute;
  width: 75%;
  top: 25%;
  left: 22.5%;
  border-radius: 15px;
  padding: 10px;
}

::placeholder {
  color: #B4B6C1;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5%;

  .right-buttons {
    margin-left: 0 auto;

    button {
      min-width: 180px;
    }
  }

  .left-buttons {
    margin-left: auto;

    button {
      min-width: 180px;
    }
  }

  .left-buttons {
    button{
      margin-right: 15px;
    }
  }
}

.form-check-label{
  color: #B4B6C1;
}

.input-model{
  color: #B4B6C1;
}

.select-model{
  color: #B4B6C1;
}

.btn-model{
  margin-right: 15px;
}