<h5>Editar Modelo</h5>

<div class="table mt-2">
  <form [formGroup]="modelForm">
    <div class="container mt-3">
      <div class="row">
        <input type="hidden" formControlName="id" name="id">
        <div class="col-6" id="div-name">
          <input class="me-2 form-control input-model" formControlName="nome" type="text" placeholder="Nome do Modelo"
            required>
        </div>
        <div class="col-6" id="div-type">
          <select class="me-2 form-select select-model" formControlName="tipoModelo" aria-label="Default select example"
            required>
            <option selected>Tipo do Modelo</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bíquini">Bíquini</option>
            <option value="Bolsa">Bolsa</option>
            <option value="Boné">Boné</option>
            <option value="Calça">Calça</option>
            <option value="Calçados">Calçados</option>
            <option value="Camisa">Camisa</option>
            <option value="Chapéu">Chapéu</option>
            <option value="Saia">Saia</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6" id="div-colecao">
          <select class="me-2 form-select select-model" formControlName="colecao" aria-label="Default select example"
            required>
            <option selected>Selecionar coleção</option>
            <option *ngFor="let collection of collections" [value]="collection.nome"
              [selected]="model.colecao == collection.colecao ? true : false">{{collection.nome}}</option>
          </select>
        </div>

        <div class="col-6" id="div-resp">
          <input class="form-control input-model" formControlName="responsavel" type="text"
            placeholder="Responsável pelo modelo" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6" id="div-bord" style="padding-left: 4%;">
          <label class="form-check-label" for="bordadoRadio">
            Possui bordado?
          </label>
          <div class="form-check">
            <input class="form-check-input" formControlName="possuiBordado" type="radio" [value]="true">
            <label class="form-check-label" for="bordadoRadio">
              Sim
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="possuiBordado" [value]="false">
            <label class="form-check-label" for="bordadoRadio">
              Não
            </label>
          </div>
        </div>
        <div class="col-6" id="div-estamp" style="padding-left: 4%;">
          <label class="form-check-label" for="estampaRadio">
            Possui estampa?
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="possuiEstampa" [value]="true">
            <label class="form-check-label" for="estampaRadio">
              Sim
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="possuiEstampa" [value]="false">
            <label class="form-check-label" for="estampaRadio">
              Não
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="action-buttons row">
        <div class="right-buttons col-3">

          <button type="button" class="btn btn-danger col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Excluir
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Deseja excluir o Modelo?</h1>
                  <button type="button" class="btn-close" style="width: 50px !important; min-width: 15px;"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label class="fw-bold"> Modelo: </label> {{ model.nome }}
                  <br>A exclusão será permanente!
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" (click)="onDelete(this)" class="btn btn-danger btn-collection" data-bs-dismiss="modal">Excluir</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="left-buttons offset-6 col-6">
          <button type="button" (click)="onBack()" class="btn btn-secondary btn-model">Cancelar</button>
          <button type="button" (click)="onEdit()" class="btn btn-primary btn-model">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>