span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #2C2C2C;
  padding-left: 10%;
}

button {
  min-width: 200px;
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: 3%;
}

td {
  color: #9395A3
}

.table-home {
  background-color: #FFF;
  position: absolute;
  width: 75%;
  top: 35%;
  left: 21.5%;
  padding: 20px;
  border-radius: 15px;
  overflow-y: auto;
}

.edit-model {
  cursor: pointer;
}