h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #595959;
}

.card-container {
  width: 91%;
}

.table-home {
  background-color: #FFF;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
}