<div class="container card-container">
  <div class="row">
    <app-cards class="col-4" titulo="Coleções" [valor]="totalColecoes"></app-cards>
    <app-cards class="col-4" titulo="Modelos" [valor]="totalModelos"></app-cards>
    <app-cards class="col-4" titulo="Orçamentos Médio (R$)" [valor]="media" [realMoney]="true" [info]="true"></app-cards>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="table-home">
      <h1>Maiores Orçamentos</h1>
      <div class="d-flex justify-content-around">
        <table class="table table-hover " style="color: #595959;">
          <thead>
            <tr>
              <th scope="col">Coleção</th>
              <th scope="col">Responsável</th>
              <th scope="col">Modelos</th>
              <th scope="col" >Orçamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let collection of collections">
              <td scope="row">{{ collection['id'] }}</td>
              <td>{{ collection['responsavel'] }}</td>
              <td>{{ collection['nome'] }}</td>
              <td >{{ collection['orcamento'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>