<h5>Criar Coleção</h5>

<div class="table mt-2">

  <div class="container mt-3">
    <form [formGroup]="collectionForm">
      <div class="row">
        <div class="col-6" id="div-name">
          <input class="me-2 form-control" formControlName="nome" type="text" placeholder="Nome da Coleção" required>
        </div>
        <div class="col-6" id="div-resp">
          <input class="form-control" type="text" formControlName="responsavel" placeholder="Responsável pela coleção"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-6" id="div-estacao">
          <input class="me-2 form-control" formControlName="estacao" type="text" placeholder="Para qual estação?"
            required>
        </div>
        <div class="col-6" id="div-marca">
          <input class="form-control" formControlName="marca" type="text"
            placeholder="Para qual marca você está criando?" required>
        </div>
      </div>
      <div class="row">
        <div class="col-6" id="div-orcamento">
          <input class="me-2 form-control" formControlName="orcamento" type="text"
            placeholder="Qual é o orçamento desta coleção?" required>
        </div>
        <div class="col-6" id="div-ano">
          <input class="form-control" formControlName="anoLancamento" type="text" placeholder="Ano de Lançamento"
            required>
        </div>
      </div>
    </form>

    <div class="row">
      <img class="image" width="140px" height="160px" src="/assets/clothes.svg" alt="">
    </div>

    <div class="container mt-2">
      <div class="action-buttons row">
        <div class="left-buttons offset-6 col-6">
          <button type="button" class="btn btn-secondary btn-sm" (click)="onList()">Cancelar</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="onCreate()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>