@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

#logo {
  max-width: 35px;
  position: absolute;
  left: 49%;
  top: 10%;
}

section {
  background-color:  #F2F5FF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-reset {
  background-color: #FFF;
  padding: 20px 40px 0 40px;
  border-radius: 7px;
  max-width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.voltar-login {
display: flex;
flex-direction: row ;
justify-content: center;
align-items: center;

}

.voltar-reset {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
}

h4 {
  color: #304C71;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #B4B6C1;
  align-items: center;
  text-align: center;
}

input {
  width: 300px;
}

::placeholder {
  color: #B4B6C1;
  font-size: 15px;
}

button {
  background-color: #0073CF;
  border: none;
  border-radius: 6px;
  color: #FFF;
  font-size: 15px;
 }

.seta-voltar {
  cursor: pointer;
 }