<main [formGroup]="resetForm">
  <section>
    <img id="logo" src="/assets/audaces.svg" alt="logo">

    <div *ngIf="!formularioEnviado" class="form-reset mt-5" >
      <div class="voltar-login mt-2">
      <img class="seta-voltar" src="/assets/seta.svg" alt="voltar" (click)="onIrLogin()">
      <h4 style="padding-left: 40px;">Redefinir Senha</h4>
       </div>
      <p class="mt-3">Digite o e-mail associado à sua conta e<br> enviaremos instruções para redefinir<br> sua senha.</p>
      
      <input class="mt-3 form-control" formControlName="userEmail" type="text" placeholder="Informe seu e-mail">
      <br>
      <button img class="btn btn-primary mt-4 col-12" [disabled]="!resetForm.valid" (click)="onReset()">Enviar Recuperação</button>

    </div>
    <div *ngIf="formularioEnviado" class="form-reset mb-3">
      <div class="voltar-reset mt-2">
        <img class="seta-voltar" src="/assets/seta.svg" alt="voltar" (click)="onReset()">
        <h4 style="padding-left: 40px;">Redefinir Senha</h4>
         </div>
      
      <p class="mt-5">Um link para redefinição de senha foi enviado<br> para o e-mail {{this.resetForm.controls['userEmail'].value}} </p>
      <br>
      <button class="btn btn-primary mt-5 col-12" (click)="onIrLogin()">Ir para login</button>
    </div>
  </section>
</main>