<main [formGroup]="resetForm">
  <section>
    <img id="logo" src="../../../assets/audaces.svg" alt="logo">

    <div *ngIf="!formularioEnviado" class="form-reset">
      <div class="voltar-login">
      <img src="../../../assets/seta.svg" alt="voltar" (click)="onIrLogin()">
      <h4>Redefinir Senha</h4>
       </div>
      <p>Digite o e-mail associado à sua conta<br> e enviaremos instruções para redefinir<br> sua senha.</p>
      <br>
      <input class="form-control" formControlName="userEmail" type="text" placeholder="Informe seu e-mail">
      <br><br>
      <button img class="btn btn-primary" [disabled]="!resetForm.valid" (click)="onReset()">Enviar Recuperação</button>

    </div>
    <div *ngIf="formularioEnviado" class="form-reset">
      <div class="voltar-reset">
        <img src="../../../assets/seta.svg" alt="voltar" (click)="onReset()">
        <h4>Redefinir Senha</h4>
         </div>
      <br><br>
      <p>Um link para redefinição de senha foi enviado para o e-mail {{this.resetForm.controls['userEmail'].value}} </p>
      <br>
      <button (click)="onIrLogin()">Ir para login</button>
    </div>
  </section>
</main>