.full-component {
  background-image: linear-gradient(10deg, #a0cef3, #F9F9F9);
  height: 100%;
  display: flex;

  .sidenav {
    min-width: 250px;
  }

  .full-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }  
}