@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

#logo {
  max-width: 35px;
  position: absolute;
  left: 49%;
  top: 5%;
}

section {
  background-color:  #F2F5FF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-login {
  background-color: #FFF;
  opacity: 0.8;
  padding: 30px 40px;
  border-radius: 7px;
  max-width: 60vh;
  margin: 0 auto;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #B4B6C1;
  align-items: center;
  text-align: center;
}

input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  padding: 10px 12px;
  width: 300px;
  height: 34px;
  border: 1px solid #EBF0FA;
  border-radius: 5px;
  font-weight: 400;
}

::placeholder {
  color: #B4B6C1;
}

button {
  background-color: #0073CF;
  border: none;
  padding: 12px 120px;
  width: 100%;
  border-radius: 6px;
  color: #FFF;
  font-size: 16px;
}


