<main [formGroup]="loginForm">
  <section>
    <img id="logo" src="../../../assets/audaces.svg" alt="logo">
      <div class="form-login">
      
      <h4>Sign In</h4>
      <p>Insira suas credenciais para acessar a conta</p>
      <input class="form-control" formControlName="userEmail" type="text" placeholder="Informe seu e-mail">
      <br>
      <input class="form-control" formControlName="userPassword" type= "password" placeholder="Informe sua senha">
      <br><br>
      <button class="btn btn-primary right-100" [disabled]="!loginForm.valid" (click)="onLogar()">Entrar</button>

    </div>
    <br>
    <div class="operacoes">
      <p>Esqueceu sua senha? <a href="#" routerLink="/reset" routerLinkActive="active">Redefinir senha</a></p>
      <p>Ainda não tem uma conta? <a href="#" routerLink="/signup" routerLinkActive="active">Cadastre-se</a></p>
    </div>
  </section>
  </main>
  

  
